---
---

<a href="/" class="logo">
  <span class="logo-text">CameraPricing</span>
</a>

<style>
  .logo {
    display: flex;
    align-items: center;
  }

  .logo-text {
    font-family: 'SohneBreitHalbfett', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
</style>
